/*CONTACTO*/

h4 .icono{
    display: inline-block;
    color:$blanco;
}
.iconoT{
    width: 60px;
    height: 60px;
}
.iconoW{
    width: 100px;
    height: 100px;
}
.iconoG{
    height:60px ;
    width: 90px;
}
.contenedor1{
    display: block;
    align-items: center;
    h4 , p{
        display: flex;
        justify-content: center;
        font-size: 1.6em;
    }
}
.dondemapa{
    display: flex;
    justify-content: center;
    font-size: 2.3em;
}

.MAPA{
    border: 3px solid $fondo;
    border-radius: 8px;
    height: 200px;
    width: 100%;
    justify-content: center;
}