/*General*/
body{
    background-color: $fondo;
}
body h1{
    color:$blanco;
}




table{
    margin-top: 80px;
    height: auto;
}

.a{
    color:$blanco;
}

.a, h3, body {
    font-family: 'Oswald', sans-serif;
}
