@media (min-width:320px) and (max-width:576px) {
.contenedor{
    height: auto;
    width: 100%;
    display: grid;
    border-radius: 6px;
}
#Caja1{
    grid-row: 1/1;
    grid-column: 1/1;
    background-image: url(../css/Images/taller1.jpg);
    background-size: cover;
    border-radius: 1em;
    height: 30em;
    border: 3px solid $fondo;
    border-radius: 6px;
}
#Caja2{
    grid-column:2/1 ;
    grid-row: 2/2;
    background-image: url(../css/Images/taller6.jpg);
    background-size:cover; 
    border: 3px solid $fondo;
    border-radius: 6px;
}
#Caja3{
    grid-column: 3/3;
    grid-row: 3/3;
    background-image: url(../css/Images/taller2.jpg);
    background-size: cover;
    border: 3px solid $fondo;
    border-radius: 6px;
}
}